.Design-Page{
  background-color: white;
}

.picker-container {
  position: relative;
  display: inline-block;
  margin: 0;
}

.picker-color {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #000;
  margin: 10px 10px 0px;
  padding-bottom:10px ;
}

.picker-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #fff;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
}

.picker-container:hover .picker-overlay {
  display: block;
}

.picker-container:hover .picker-color {
  border-color: #000;
}

.Design-Page {
  display: flex;
  flex-direction: row;
}
.input {
  cursor: pointer;
  font-size: 14px;
}

.Logos-container {
  width: 20%;
}
.canvas-container {
  width: 50%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.DesignButton {
  cursor: pointer;
  position: absolute;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: 0px;
  margin: 3px;
  background-color: rgb(0, 0, 0);
  color: white;
  transition: 0.2s;
}
.DesignButton:hover {
  scale: 1.0;
}

.item-button {
  width: 200px;
  height: 40px;
  margin: 3px;
}
.Container-Buttons {
  align-items: center;
  position: relative;
  width: 30%;
}

.Cyrcle {
  border-radius: 50%;
  background-color: #000;
  width: 800px;
  height: 800px;
  margin-top: 40px;
}
.Canvas-Design {
  box-sizing: content-box;
}
input {
  width: 200px;
  height: 40px;
  margin: 3px;
  border: 0;
}
input::after {
  scale: 1.1;
  border: 1px solid #000;
}
.input {
  color: #000;
}
