.menuDrop{
  position: absolute;
  color: black;
  background-color: aliceblue;
  list-style: none;
  text-align: center;
  width: 100px;
  padding-inline-start: 0px;
  padding: 10px 0;
}
.menuDropLi{
  padding: 5px 10px 10px 10px;
}
.menuButton {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
  width: 150px;
}