.snip141887 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  
  .snip141887 {
    font-family: 'Raleway', Arial, sans-serif;
    cursor: pointer;
    overflow: hidden;
    min-width: 230px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    color: #000000;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 5px; /* Adjust the value to reduce the spacing */
    box-shadow: 4px 4px 5px 4px #0000005b;
    /* Add any additional styling for the product card */
  }
  .MyShoe {
    margin-top: 20px;
  }