.Shoe-Container {
    width: 350px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 10px;
    box-shadow: rgb(159, 159, 161) 1px 1px 5px 0px inset, rgba(255, 255, 255, 0.5) -1px -1px 6px 0px inset;
    padding: 15px;
}
.Shoe-Container Canvas {
    width: 200px;
    height: 250px;
    background-color: #f7e1ae96;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 10px;
    
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    color: rgb(90, 90, 90);
}
.price, .name {
    display: flex;
    gap: 10px;
}
.description h1 , .description h2{
    margin: 0;
}
.description .Buttons {
    gap: 30px;
    position: relative;
    flex-direction: row;
    font-weight: 300;
    height: 40px;
    margin-top: 20px;
    display: flex;
    
}
.description .Buttons button {
    border: solid rgb(157, 218, 157) 1px;
    color: rgb(143, 143, 143);
    
}
.description .Buttons button:hover {
    background-color: rgba(157, 218, 157, 0.507);
    color: rgb(90, 90, 90);
    
}