.snip1418 {
    font-family: 'Raleway', Arial, sans-serif;
    cursor: pointer;
    overflow: hidden;
    margin: auto;
    min-width: 230px;
    max-width: 250px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: #000000;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 90px;
    perspective: 20em;
    margin-bottom: 80px
  }

  h2 {
    margin-top: 40px;
    text-align: center;
  }