
.ShoesContainer {
    width: 100%;
    height: 95vh;
    background-color: #F7E1AE;
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    padding-inline: 100px;
    align-items: center;
}
.ShoesTextContainer {
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;

}
.Customize-Button {
    width: 50%;
    color: #617A55;
    background-color: #FFF8D6;
    height: 70%;
    border-radius: 2%;
    padding: 3% 5% ;
    text-align: left;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}
.Customize-Button button{
    height: 50px;
}
.Customize-Button p {
    font-size: 25px;
    display: inline;
    margin-block-start: 0;
    margin-block-end: 0;
}
