.navbar {
  display: flex;
  flex-direction: row;
  background-color: #000;
  color: white;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
  .navItems{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .LogoImage {
    width: 100px;
  }
  .LoginSignup{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .userContainer {
      width: 100px;
    }
  }
  .Ulcontainer {
    justify-content: center;
    align-items: center;

    .NavUl{
      display: flex;
      flex-direction: row;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      .LiNav{
        list-style-type: none;
        transition: 0.2s;
        a {
          margin: 20px;
          color: #fff;
          cursor: pointer;
        }
        &:hover {
          scale: 1.1;
        }
      }
    }
  }

}